<%- include("partials/auth_header.ejs") %>
<%- include("partials/auth_subheader.ejs") %>

<div class="container py-4">
    <div class="border border-light p-5 mb-5">
        <h2 class="text-light">User List</h2>
        <hr style="color: white;">
        <ul class="list-group rounded-0">
        <% if (locals.users && users.length > 0) { %>
            <% users.forEach((u) => { %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="media">
                        <div class="d-flex align-items-center fw-semibold fs-3">
                            <img src="<%= u.profile_image_url %>" class="me-2 rounded-circle" alt="Friend Avatar" style="width: 40px; height: 40px;">
                            <%= u.username %>
                        </div>
                    </div>
                    <form action="/add-friend" method="post">
                        <input type="hidden" name="user_id" value="<%= u.user_id %>">
                        <button type="submit" class="btn btn-primary rounded-pill">Add friend</button>
                    </form>
                </li>
            <% }) %>
        <% } else { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="media">
                    <!-- <img src="https://via.placeholder.com/30" class="mr-3 rounded-circle" alt="Friend Avatar"> -->
                    <div class="media-body">
                        <h5>
                            There is no user available at this moment.
                        </h5>
                    </div>
                </div>
            </li>
        <% } %>
        </ul>
    </div>
</div>


<%- include("partials/footer.ejs") %>