<%- include("partials/auth_header.ejs") %>

    <div class="container py-4">
        <div class="border border-light blurred-background p-5 mb-5">
            <h2 class="text-light fw-bold text-uppercase">Friend List</h2>
            <hr style="color: white;">
            <%- include("partials/message.ejs") %>
            <ul class="list-group rounded-0">
                <% if (locals.friends && friends.length> 0) { %>
                    <% friends.forEach((f)=> { %>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="media">
                                <div class="d-flex align-items-center fw-semibold fs-3">
                                    <img src="<%= f.profile_image_url %>" class="me-2 rounded-circle profile-picture"
                                        alt="Friend Avatar">
                                    <span class="username-text">
                                        <%= f.username %>
                                    </span>
                                </div>
                            </div>
                            <div class="d-flex">
                                <form action="/chat" method="post">
                                    <input type="hidden" name="friend_id" value="<%= f.friend_id %>">
                                    <button type="submit" class="btn btn-primary rounded-pill me-2">Chat</button>
                                </form>
                                <button type="button" class="btn btn-danger rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                            <path
                                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                                        </svg>
                                </button>

                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content rounded-0">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5 fw-bold text-uppercase" id="exampleModalLabel">Confirmation</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to remove <strong><%= f.username %></strong> from your friend list?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                <form action="/remove-friend" method="post">
                                                    <input type="hidden" name="friend_id" value="<%= f.friend_id %>">
                                                    <input type="hidden" name="username" value="<%= f.username %>">
                                                    <button type="submit" class="btn btn-danger">Remove</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    <% }) %>
                <% } else { %>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="media">
                            <div class="media-body">
                                <h5 class="pt-2">You don't have any friends yet.</h5>
                                <a href="/users">Start adding now!</a>
                            </div>
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>

<%- include("partials/footer.ejs") %>