<%- include("partials/auth_header.ejs") %>

<div class="container py-4">
    <div class="border border-light blurred-background p-5 mb-5">
        <h2 class="text-light fw-bold text-uppercase">User List</h2>
        <hr style="color: white;">
        <ul class="list-group rounded-0">
        <div class="col-12 mb-3">
            <div class="input-group">
                <input type="text" id="searchInput" name="username" class="form-control rounded-0" placeholder="Search" autocomplete="off"
                    required>
            </div>
        </div>
        <% if (locals.users && users.length > 0) { %>
            <% users.forEach((u) => { %>
                <li class="user list-group-item d-flex justify-content-between align-items-center">
                    <div class="media">
                        <div class="d-flex align-items-center fw-semibold fs-3">
                            <img src="<%= u.profile_image_url %>" class="me-2 rounded-circle profile-picture" alt="Friend Avatar">
                            <span class="username-text"><%= u.username %></span>
                        </div>
                    </div>
                    <form action="/add-friend" method="post">
                        <input type="hidden" name="user_id" value="<%= u.user_id %>">
                        <button type="submit" class="btn btn-primary rounded-pill">Add friend</button>
                    </form>
                </li>
            <% }) %>
        <% } else { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="media">
                    <div class="media-body">
                        <h5>
                            There is no user available.
                        </h5>
                    </div>
                </div>
            </li>
        <% } %>
        </ul>
    </div>
</div>

<script>
    document.getElementById('searchInput').addEventListener('input', function () {
        const query = this.value.toLowerCase();
        const users = document.querySelectorAll('.user');
        users.forEach(user => {
            const username = user.querySelector('.username-text').textContent.toLowerCase();
            if (username.includes(query)) {
                user.classList.remove('d-none');
            } else {
                user.classList.add('d-none');
            }
        });
    });
</script>


<%- include("partials/footer.ejs") %>